*,
::after,
::before {
  box-sizing: border-box;
}

html {
  display: block;
  font-family: gt-eesti, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  quotes: '“' '”';
  text-size-adjust: 100%;
  overflow-x: hidden;
}

html,
body,
#root {
  height: calc(100vh - 72px);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 1;
  color: rgb(5, 71, 82);
  background-color: rgb(255, 255, 255);
}
